$light-blue: #009ef7;
$light-red: #f1416c;
$light-green: #50cd89;
$light-blue-bg: #f1faff;
$light-red-bg: #fff5f8;
$light-green-bg: #f1faff;
$white: #ffffff;
$texte-color: #181c32;
$scrollbar-color: #ccd5e5;
$th-color: #b5b5c3;
$border-bottom-color: #eff2f5;
$btn-action-bg: #f5f8fa;
$btn-action-color: #7e8299;
$label-color: #a1a5b7;

.tableau-client {
  padding: 2.25rem 2rem;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 0px 20px 0px rgb(76 87 125 / 2%);
  background-color: $white;
  border-radius: 0.625rem;
  color: $texte-color;
  margin: 4rem 3rem;
  max-width: 1200px;
  & .tableau-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-bottom-color;
    padding-bottom: 16px;
    .btn-actions {
      display: flex;
      gap: 0.5rem;
    }
    & button {
      padding: calc(0.4rem + 1px) calc(1rem + 1px);
      font-size: 0.8rem;
      font-weight: 500;
      border-radius: 0.325rem;
      text-decoration: none;
      display: inline-flex;
      text-align: center;
      align-items: center;
      line-height: 1.5;
      transition: 0.15s ease;
      cursor: pointer;
      border: none;
    }
    & .add {
      color: $light-blue;
      background-color: $light-blue-bg;
      & span {
        line-height: 0;
        margin-right: 0.5rem;
        & svg {
          height: 1.1rem;
          width: 1.1rem;
        }
      }
    }
    & .add:hover {
      color: $white;
      background-color: $light-blue;
    }
    & .delete {
      color: $light-red;
      background-color: $light-red-bg;
    }
    & .delete:hover {
      color: $white;
      background-color: $light-red;
    }
  }
  & .tableau-content {
    font-size: 0.875rem;
    font-weight: 600;
    margin-top: 1rem;
    & .row {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr;
      margin-bottom: 1.25rem;
      & .label {
        font-weight: 500;
        color: $label-color;
        margin-bottom: 8px;
      }
    }
  }
}

@media (max-width: 767px) {
  .tableau-client {
    margin: 4rem 1rem;
    & .tableau-content {
      & .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 1.6rem;
      }
    }
  }
}
